.title {
    background-color: rgb(54, 128, 192);
    color: whitesmoke;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.background {
    background-color: rgb(87, 87, 87);
}

.features{
    margin-left: 25%;
    padding-top: 4%;
    color: whitesmoke;
}


.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgb(87, 87, 87); /* Just to visualize the extent */
  }


.card{
    height: 10%;
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2) inset;
    transition: 0.3s;
}

.card:hover {
    box-shadow:  2px 2px 10px 2px rgba(41, 41, 41, 0.89);
}

.image {
    border-radius: 2%;
    box-shadow:  2px 2px 10px 2px rgba(41, 41, 41, 0.89);
    margin-left: 10%;
    margin-bottom: 2%;
    height: 80%;
    width:80%;
}

.delete {
    width: 40px;
    height:40px;
}
.delete:hover {
    color:rgb(199, 32, 32)
}

.btn-align {
text-align: right;
}

.header {
    margin-left: 5%;
    margin-top: 2%;
}
.header:hover {
    color: rgb(67, 151, 67);
}

.search-bar {
    display: inline-block;
    width: 70%;
}
.sort-btn {
    display: inline-block; 
    width:30%;
    background-color: rgb(54, 128, 192);
    border: rgb(54, 128, 192);
    color: whitesmoke;
    height: 39px;
    border-radius: 4px;
    
}
